.layout-header{
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header{
    color: #fff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.5998774509803921) 35%, rgba(9,21,121,0.5074404761904762) 100%);   display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .user-img{
        img {
            border-radius: 50%;
        }
    }
}
.about-header{
    font-weight: 800;
    font-size: 1.1rem;
    margin: 1rem auto;
}
.logout:hover{
    cursor: pointer;
}
